@charset 'utf-8';
@import url(./my_reset.css);

@font-face {
  font-family: "NanumSquareNeo";
  src: url(./font/NanumSquareNeo-Variable.woff);
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "NanumSquareNeo";
  --h: "MyLotteBold";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #333;
  --m1: #3d91cf;
  --m2: #f79521;
  --s2: #edb071;
  --m3: #974998;
  --s3: #c390be;
  --m4: #26ad49;
  --s4: #84d194;
  --gray: #ababab;
  --detailimg: #e0e0e0;
}

.subpage {
  position: absolute;
  top: 200vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 700;
  background-color: white;
  overflow: hidden;
}
.subpage .sub {
  display: none;
}
.subpage .sub.on {
  display: block;
}
.subpage .sub_con {
  padding-top: 3%;
}
.subpage .sub_title {
  width: 100%;
  background-color: #c390be50;
  padding: 1rem 0;
  position: relative;
}
.subpage .sub_title > h2 {
  text-align: center;
  font-size: 1.5rem;
}
.subpage .sub_title > button {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  border-radius: 50px;
  padding: 0.35rem 0.75rem;
  border: none;
  background-color: var(--s3);
  cursor: pointer;
}
.subpage .sub_title > button:hover {
  font-weight: bold;
}
.subpage .sub_main {
  position: relative;
  padding-bottom: 2.5%;
}
.subpage .sub_mockup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.subpage .sub_shape {
  position: absolute;
  width: 7vw;
  height: 7vw;
  top: 19%;
  left: 33%;
  background-color: var(--s3);
  background-size: 1000%;
  background-repeat: no-repeat;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: rad-move 30s linear infinite;
  z-index: -1;
}
.subpage .sub_mockup > div:nth-of-type(2) {
  /* border: 1px solid red; */
  width: 30%;
  height: 0;
  overflow: hidden;
  padding-top: 19%;
  position: relative;
}
.subpage .sub_mockup > div:nth-of-type(2) > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.subpage .sub_keyword {
  display: flex;
}
.subpage .sub_keyword p {
  border: 1px solid var(--s3);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  color: var(--m3);
  margin: 0 0.5rem;
}
.subpage .sub_btns {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  text-align: center;
}
.subpage .sub_btns > div {
  padding: 0.35rem 0;
}
.subpage .sub_btns > div > a {
  display: inline-block;
  background-color: var(--m3);
  color: white;
  padding: 0.6rem 1.25rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}
.subpage .sub_btns > div:first-of-type > a {
  background-color: var(--s3);
}
.subpage .sub_btns > div:hover > button {
  background-color: var(--m1);
  /* color: var(--s2); */
}
.subpage .sub_text {
  border-top: 1px solid var(--detailimg);
  border-bottom: 1px solid var(--detailimg);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subpage .sub_text ul {
  /* border: 1px solid red; */
}
.subpage .sub_text li {
  display: flex;
  padding-top: 0.5rem;
}
.subpage .sub_text li:last-of-type {
  padding-bottom: 0.5rem;
}
.subpage .sub_text p {
  font-size: 0.95rem;
}
.subpage .sub_text p:first-of-type {
  width: 200px;
  font-weight: bold;
}
.subpage .sub_text li:last-of-type p:nth-of-type(2),
.subpage .sub_text li:last-of-type p:last-of-type {
  position: relative;
  padding-left: 1.5rem;
}
.subpage .sub_text li:last-of-type p:last-of-type {
  padding-left: 5rem;
}
.subpage .sub_text li:last-of-type p:nth-of-type(2)::before,
.subpage .sub_text li:last-of-type p:last-of-type::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 25px;
}
.subpage .sub_text li:last-of-type p:nth-of-type(2)::before {
  background-color: #f8f0e3;
  left: 0;
}
.subpage .sub_text li:last-of-type p:last-of-type::before {
  background-color: #18a8b5;
  left: 3.5rem;
}
.subpage .sub_detailcon {
  background-color: #c390be20;
}
.subpage .sub_detailcon > div.mw {
  padding: 1rem 0 3rem 0;
}
.subpage .sub_onoff {
  justify-content: right;
  display: flex;
  align-items: center;
}
.subpage .sub_onoff > p {
  font-size: 0.75rem;
  color: var(--gray);
  padding-right: 1rem;
}
.subpage .sub_onoff > button {
  position: relative;
  color: transparent;
  background-color: white;
  border: 1px solid var(--m3);
  width: 65px;
  height: 35px;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
}
.subpage .sub_onoff > button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 65%;
  background-color: #eaeaea;
  border-radius: 25px;
}
.subpage .sub_onoff > button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-color: var(--s3);
  border-radius: 25px;
  transition: 0.3s;
}
/* .subpage .sub_onoff > button:hover::after, */
.subpage .sub_onoff > button.on::after {
  /* left: auto;
  right: 10%; */
  transform: translate(100%, -50%);
}
/* .subpage .sub_onoff > button.on:hover::after {
  transform: translate(0, -50%);
} */
.subpage .sub_btnon > li {
  padding-top: 2%;
  display: flex;
  position: relative;
}
.subpage .sub_detail1 {
  /* border: 1px solid salmon; */
  justify-content: right;
}
.subpage .sub_btnon > li > div {
  border: 1px solid var(--detailimg);
  width: 60%;
  height: 0;
  position: relative;
  overflow: hidden;
}
.subpage .sub_detail1 > div {
  padding-top: 27%;
}
.subpage .sub_btnon > li > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.subpage .sub_btnon > li > p {
  position: absolute;
}
.subpage .sub_btnon > li > p::before {
  content: "";
  position: absolute;
  background-color: var(--s3);
  width: 20px;
  height: 20px;
  border-radius: 25px;
}
.subpage .sub_btnon > li > p::after {
  content: "";
  position: absolute;
  background-color: var(--m3);
}
.subpage .sub_detail1 > p:first-of-type {
  bottom: 100%;
  right: 50%;
  transform: translateX(50%);
}
.subpage .sub_detail1 > p:first-of-type::before {
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
}
.subpage .sub_detail1 > p:first-of-type::after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 80%;
}
.subpage .sub_detail1 > p:nth-of-type(2) {
  text-align: right;
  top: 3.5%;
  left: 20%;
  transform: translateX(-50%);
}
.subpage .sub_detail1 > p:nth-of-type(2)::before {
  top: 50%;
  left: 167%;
  transform: translateY(-50%);
}
.subpage .sub_detail1 > p:nth-of-type(2)::after {
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  width: 66%;
  height: 1px;
}
.subpage .sub_detail1 > p:nth-of-type(3) {
  text-align: right;
  top: 45%;
  left: 25%;
  transform: translateX(-50%);
}
.subpage .sub_detail1 > p:nth-of-type(3)::before {
  top: 50%;
  left: 215%;
  transform: translateY(-50%);
}
.subpage .sub_detail1 > p:nth-of-type(3)::after {
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  width: 115%;
  height: 1px;
}
.subpage .sub_detail2 > div {
  padding-top: 26%;
}
.subpage .sub_detail2 > p:first-of-type {
  top: 42.5%;
  right: 10%;
}
.subpage .sub_detail2 > p:first-of-type::before {
  top: 50%;
  right: 540%;
  transform: translateY(-50%);
}
.subpage .sub_detail2 > p:first-of-type::after {
  top: 50%;
  right: 105%;
  transform: translateY(-50%);
  width: 440%;
  height: 1px;
}
.subpage .sub_detail2 > p:nth-of-type(2) {
  top: 70%;
  right: 13.5%;
}
.subpage .sub_detail2 > p:nth-of-type(2)::before {
  top: 50%;
  right: 270%;
  transform: translateY(-50%);
}
.subpage .sub_detail2 > p:nth-of-type(2)::after {
  top: 50%;
  right: 105%;
  transform: translateY(-50%);
  width: 171%;
  height: 1px;
}
.subpage .sub_detail3 {
  /* border: 1px solid salmon; */
  justify-content: right;
}
.subpage .sub_detail3 > div {
  padding-top: 25%;
}
.subpage .sub_detail3 > p:first-of-type {
  top: 50%;
  left: 10%;
}
.subpage .sub_detail3 > p:first-of-type::before {
  top: 50%;
  left: 300%;
  transform: translateY(-50%);
}
.subpage .sub_detail3 > p:first-of-type::after {
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  width: 201%;
  height: 1px;
}
.subpage .sub_detail4 > div {
  padding-top: 25.5%;
}
.subpage .sub_detail4 > p:first-of-type {
  top: 41%;
  right: 20%;
}
.subpage .sub_detail4 > p:first-of-type::before {
  top: 50%;
  /* left: calc(-5% + -22.8vw + -10px); */
  left: -285%;
  transform: translateY(-50%);
}
.subpage .sub_detail4 > p:first-of-type::after {
  top: 50%;
  right: 105%;
  transform: translateY(-50%);
  /* width: 22.8vw; */
  width: 274%;
  height: 1px;
}
.subpage .sub_detail4 > p:nth-of-type(2) {
  top: 81.5%;
  right: 13.5%;
}
.subpage .sub_detail4 > p:nth-of-type(2)::before {
  top: 50%;
  left: -73%;
  transform: translateY(-50%);
}
.subpage .sub_detail4 > p:nth-of-type(2)::after {
  top: 50%;
  right: 105%;
  transform: translateY(-50%);
  width: 64%;
  height: 1px;
}
.subpage .sub_btnon {
  display: none;
}
.subpage .sub_btnon.on {
  display: block;
}
.subpage .sub_btnoff {
  /* border: 1px solid red; */
  justify-content: space-between;
  padding: 2% 15% 0 15%;
  text-align: center;
  display: none;
}
.subpage .sub_btnoff.on {
  display: flex;
}
.subpage .sub_PC {
  width: 50%;
}
.subpage .sub_TABLET {
  width: 25%;
}
.subpage .sub_MOBILE {
  width: 15%;
}
.subpage .sub_btnoff > li > p:nth-of-type(1) {
  display: inline-block;
  background-color: var(--m3);
  border-radius: 25px;
  padding: 0.25rem 1.25rem;
  color: white;
}
.subpage .sub_btnoff > li > p:nth-of-type(2) {
  font-size: 0.9rem;
  color: var(--m3);
  padding: 0.5rem 0 0.5rem 0;
}
.subpage .sub_btnoff > li > div {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100vh;
  position: relative;
}
.subpage .sub_btnoff > li > div > img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* sub2 */
.subpage #sub2_shape {
  position: absolute;
  width: 7vw;
  height: 7vw;
  top: 10%;
  left: 57%;
  background-color: var(--s3);
  background-size: 1000%;
  background-repeat: no-repeat;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: rad-move 30s linear infinite;
  z-index: -1;
}
.subpage #sub2_text li:last-of-type p:nth-of-type(2)::before {
  background-color: #f44502;
  left: 0;
}
.subpage #sub2_text li:last-of-type p:last-of-type::before {
  background-color: #ffddbc;
}
.subpage #sub2_detail1 {
  justify-content: left;
}
.subpage #sub2_detail1 > div {
  padding-top: 27%;
}
.subpage #sub2_detail1 > p:nth-of-type(2) {
  text-align: left;
  top: 10%;
  left: auto;
  right: 20%;
  transform: translateX(0);
}
.subpage #sub2_detail1 > p:nth-of-type(2)::before {
  left: -70%;
}
.subpage #sub2_detail1 > p:nth-of-type(2)::after {
  left: auto;
  right: 105%;
  width: 61%;
  height: 1px;
}
.subpage #sub2_detail1 > p:nth-of-type(3) {
  text-align: left;
  top: 35%;
  left: auto;
  right: 10%;
  transform: translateX(0);
}
.subpage #sub2_detail1 > p:nth-of-type(3)::before {
  left: auto;
  right: 590%;
}
.subpage #sub2_detail1 > p:nth-of-type(3)::after {
  left: auto;
  right: 105%;
  width: 490%;
}
.subpage #sub2_detail2 {
  justify-content: right;
}
.subpage #sub2_detail2 > div {
  padding-top: 24.9%;
}
.subpage #sub2_detail2 > p:first-of-type {
  text-align: right;
  top: 60%;
  right: auto;
  left: 10%;
}
.subpage #sub2_detail2 > p:first-of-type::before {
  right: auto;
  left: 180%;
}
.subpage #sub2_detail2 > p:first-of-type::after {
  left: 105%;
  right: auto;
  width: 78.5%;
}
.subpage #sub2_detail3 {
  justify-content: left;
}
.subpage #sub2_detail3 > div {
  padding-top: 7%;
}
.subpage #sub2_detail3 > p:first-of-type {
  top: 58%;
  left: auto;
  right: 15%;
}
.subpage #sub2_detail3 > p:first-of-type::before {
  right: 180%;
  left: auto;
}
.subpage #sub2_detail3 > p:first-of-type::after {
  left: auto;
  right: 105%;
  width: 79%;
}
.subpage #sub2_detail4 {
  justify-content: right;
  text-align: right;
}
.subpage #sub2_detail4 > div {
  padding-top: 25.5%;
}
.subpage #sub2_detail4 > p:first-of-type {
  top: 10%;
  right: auto;
  left: 5%;
}
.subpage #sub2_detail4 > p:first-of-type::before {
  top: 15%;
  transform: translateY(-50%);
  left: 297%;
}
.subpage #sub2_detail4 > p:first-of-type::after {
  top: 15%;
  left: 105%;
  right: auto;
  transform: translateY(0);
  width: 195%;
}
.subpage #sub2_detail4 > p:nth-of-type(2) {
  top: 91%;
  right: auto;
  left: 20%;
}
.subpage #sub2_detail4 > p:nth-of-type(2)::before {
  left: 170%;
}
.subpage #sub2_detail4 > p:nth-of-type(2)::after {
  left: 105%;
  right: auto;
  width: 69%;
  height: 1px;
}

/* sub3 */
.subpage #sub3_shape {
  top: 12%;
  left: 48%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: rad-move 30s linear infinite;
}
.subpage #sub3_text li:last-of-type p:nth-of-type(2)::before {
  background-color: #294052;
  left: 0;
}
.subpage #sub3_text li:last-of-type p:last-of-type::before {
  background-color: #f8e4cc;
}
.subpage #sub3_detail1 > div {
  padding-top: 29%;
}
.subpage #sub3_detail1 > p:nth-of-type(2) {
  top: 9%;
  left: 5%;
  transform: translateX(0);
}
.subpage #sub3_detail1 > p:nth-of-type(2)::before {
  left: 330%;
}
.subpage #sub3_detail1 > p:nth-of-type(2)::after {
  width: 230%;
}
.subpage #sub3_detail1 > p:nth-of-type(3) {
  text-align: center;
  top: 0;
  left: 66%;
  transform: translateX(0);
}
.subpage #sub3_detail1 > p:nth-of-type(3)::before {
  top: 225%;
  left: 50%;
  transform: translate(-50%, 0);
}
.subpage #sub3_detail1 > p:nth-of-type(3)::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1px;
  height: 160%;
}
.subpage #sub3_detail1 > p:nth-of-type(4) {
  text-align: right;
  top: 82%;
  left: 25%;
  transform: translateX(0);
}
.subpage #sub3_detail1 > p:nth-of-type(4)::before {
  top: 50%;
  left: 367%;
  transform: translateY(-50%);
}
.subpage #sub3_detail1 > p:nth-of-type(4)::after {
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  width: 268%;
  height: 1px;
}
.subpage #sub3_detail2 > div {
  padding-top: 25%;
}
.subpage #sub3_detail2 > p:first-of-type {
  top: 75%;
  right: 25%;
}
.subpage #sub3_detail2 > p:first-of-type::before {
  right: 310%;
}
.subpage #sub3_detail2 > p:first-of-type::after {
  width: 214%;
}
.subpage #sub3_detail3 > div {
  padding-top: 22.8%;
}
.subpage #sub3_detail3 > p:first-of-type {
  text-align: right;
  top: 40%;
  left: 10%;
}
.subpage #sub3_detail3 > p:first-of-type::before {
  left: 400%;
}
.subpage #sub3_detail3 > p:first-of-type::after {
  width: 300%;
}
.subpage #sub3_detail4 > div {
  padding-top: 14%;
}
.subpage #sub3_detail4 > p:first-of-type {
  top: 50%;
  right: 20%;
}
.subpage #sub3_detail4 > p:first-of-type::before {
  top: 50%;
  transform: translateY(-50%);
  left: -80%;
}
.subpage #sub3_detail4 > p:first-of-type::after {
  width: 71%;
}
.subpage #sub2_detail4 > p:nth-of-type(2) {
  top: 91%;
  right: auto;
  left: 20%;
}
.subpage #sub2_detail4 > p:nth-of-type(2)::before {
  left: 170%;
}
.subpage #sub2_detail4 > p:nth-of-type(2)::after {
  left: 105%;
  right: auto;
  width: 69%;
  height: 1px;
}

@keyframes rad-move {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  10% {
    border-radius: 53% 47% 33% 67% / 60% 30% 70% 40%;
  }
  20% {
    border-radius: 71% 29% 38% 62% / 72% 48% 52% 28%;
  }
  30% {
    border-radius: 41% 59% 45% 55% / 33% 56% 44% 67%;
  }
  40% {
    border-radius: 55% 45% 67% 33% / 77% 48% 52% 23%;
  }
  50% {
    border-radius: 44% 56% 22% 78% / 31% 74% 26% 69%;
  }
  60% {
    border-radius: 46% 54% 48% 52% / 61% 59% 41% 39%;
  }
  70% {
    border-radius: 44% 56% 60% 40% / 63% 36% 64% 37%;
  }
  80% {
    border-radius: 20% 80% 45% 55% / 31% 79% 21% 69%;
  }
  90% {
    border-radius: 66% 34% 57% 43% / 49% 51% 49% 51%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}
